#comparison {


  .compare-silhouette {
      position: relative;



      piestats {
        z-index: 2;
        transition: all 0.2s ease;
        position: absolute;
        transform: translate(-50%, -50%) scale(.55);

        svg {
          transform-origin: center;
          transition: all 0.2s ease;

          &:hover {
            opacity: .9;
            transform: scale(1.7);
          }

        }

        &#elbow {
          top: 23%;
          left: 29%;
        }

        &#shoulder {
          top: 19%;
          left: 43%;
        }
        &#trunk {
          top: 26%;
          left: 57%;
        }
        &#hip {
          top: 50%;
          left: 53%;
        }
        &#foot {
          top: 84%;
          left: 79%;
        }
      }
    }

  img {
    width: 100%;
  }

  background-color: @motus-offwhite;
  width:inherit;
  // border: 2px solid gold;

  arealinechart {
    left: -5%;
    position: relative;
  }

  h4 {
    font-size: 2.5em;
    font-family: Arial, sans-serif;
  }

  .overall-text {
    line-height: 1.25em;
    padding-left: 1em;
    padding-top: .6em;
  }

  .overall-ok {
    font-family: 'Arial-Black', Arial, sans-serif;
    color: @motus-tangerine !important;
  }

  .overall-poor {
    font-family: 'Arial-Black', Arial, sans-serif;
    color: @motus-red !important;
  }

  .awardment {
    span {
      font-size: 3em;
    }
  }
  .overall-good {
    font-family: 'Arial-Black', Arial, sans-serif;
    color: @motus-green !important;
  }

  .comparison-nav  {
    font-size: 1.3em;
    a:nth-child(2) {
      margin-left: 3em;
      margin-right: 3.9em;
    }
    a {
      color: @motus-blue;
      text-decoration: none;
    }
    a.active {
      color: @motus-lightorange;
    }
    a:after {
      content: '';
      display: block;
      width: 100%;
      border: 0.071em solid @motus-lightorange;
      transform: translate(0px, 6px);
      opacity: 0;
      transition: transform .2s ease-out, opacity .2s ease-out;
    }
    a:hover {
      color: @motus-lightorange;
      transition: .2s ease-out;
    }
    a:hover:after {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  .comparison-padding-right {
    padding-right:35px;
  }
  .flex-container {
    display: flex;
  }
  .flex-container-row {
    display: flex;
  }
  .flex-grow-1 {
    flex:1;
  }
  .flex-container-col {
    display: flex;
    flex-direction: column;
  }
  .flex-justify-content-space-around {
    justify-content: space-around;
  }
  .flex-justify-content-center {
    justify-content: center;
  }
  .flex-align-content-center {
    align-content: center;
  }
  .white-bg {
    background-color: white;
  }
  .flex-comparison-col {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    flex:1;

  }
  .flex-comparison-col-stats-view {
    display: flex;
    flex-direction:column;
    flex:1;

  }
  .overall-percentage {
      font-size:2.5em;
      font-family: "Arial-Black", Arial, sans-serif;
  }
  .remove-comparison {
    color: @motus-blue;
    border: 4px solid @motus-blue;
    background-color: transparent;
    text-transform: uppercase;

  }
  select.small-flexitem {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    border-bottom: 0.214em solid #f38d4f;
    background: url(/images/arrow-down-orange.png) no-repeat;
    background-position: 100%;
    background-size: 1.429em;
    min-width: 12.7em;
    margin: auto;

    &:focus, input:focus{
      outline: 0;
    }
    &:hover {
      transition: all 0.3s ease-out;
      border-bottom-color: darken(#f38d4f, 10%);
      background: url('/images/arrow-down-orange-dark.png') no-repeat;
      background-position: 100%;
      background-size: 1.429em;
    }

  }
  .add-comparison {
    h3 {
      text-align: center;
      font-size: 1.5em;
      padding-left: 2em;
      padding-right: 2em;
    }
    span {
      font-size: 12em;
      color: @motus-blue;
    }
  }

  .comparison-one {
    margin-top: .7em;
    margin-right: .7em;
    margin-left: .7em;
    min-height: 28.429em;
  }

  .comparison-two {
    margin-top: .7em;
    margin-right: .7em;
    min-height: 28.429em;
    margin-left: .7em;
  }
  .comparison-back {
    display: block;
    position: absolute;
    font-size: 2em;
    cursor: pointer;
    margin-top:0;
    margin-left: 0.3em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: @motus-blue;
  }
  /*
   TABLES
   *************************************/

  .h3-text {
    text-align: center;
  }

  table {
    width: 100%

  }
  .metric-table {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }

  .center-column {
    text-align: center;
  }

  .right-column {
    text-align: right;
  }

  .thick-number {
    font-family: 'Arial-Black', Arial, sans-serif;
    font-size:2em;
  }

  .center-column .thick-number {
    color: @motus-lightorange;
  }

  .metric-name-unit {
    font-family: 'Arial-Narrow', Arial, sans-serif;
  }


  .metric-odd {
    background-color: rgba(202, 227, 243,.85);
  }
  .metric-even {
    background-color: rgba(175, 197, 211,.85);
  }
  .metricval {
    font-family: "Arial-Black", Arial, sans-serif;
    font-size: 1.464em;
    padding-left: 0.6em;
    text-align: right;
  }

  .unit {
    font-family: 'Arial-Narrow', Arial, sans-serif;
    font-size: 0.857em;
    padding:.25em;
    text-align: left;
  }

  select {
    margin-top: 2.143em;
    margin-right: 2.857em;
  }

  td, th {
    padding: 1.171em;
  }

  tr .col-data {
    padding-left: 1.5em;
  }

  tr.col-data {

    &:hover {
      transition: all 0.3s ease-out;
      color: @motus-lightorange;
      background-color: @motus-darkgrey!important;
    }
  }

  .selected {
    color: @motus-lightorange;
    background-color: @charcoalgray!important;
  }

  .metric-table tr {
    cursor: pointer;
  }
  .metric-table {

  }


   @media (max-width: 1200px) {
    .compare-silhouette piestats {
      transform: translate(-50%, -50%) scale(.50) ;
    }
  }


  @media (max-width: 1024px) {

    .compare-silhouette piestats {
      transform: translate(-50%, -50%) scale(.35) ;
    }

    .comparison-one {
      min-height: 459px;

    }
    .comparison-two {
      min-height: 459px;

    }
  }

  @media (max-width : 768px) {


  }

}
