#comparison {

  background-color: @motus-offwhite;
  width:inherit;

  .white-bg {
    background-color: white;
  }
  img {
    border-radius: 100%;
    height: 8em;

  }
  .flex-comparison-col {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex:1;

  }
  .overall-percentage {
      font-size:2em;
      font-family: "Arial-Black", Arial, sans-serif;
  }
  .remove-comparison {
    color: @motus-blue;
    border: 4px solid @motus-blue;
    background-color: transparent;
    text-transform: uppercase;

  }

}
