<div id="header">
  <nav class="nav-flex">

    <div class="motus-svg-logo">
      <img alt="Motus Logo" src='../images/motus-logo.svg'>
    </div>

    <div class="nav-links">
      <!-- This will change depending upon the view, items hardcoded for now -->
      <span><a href="#/team">Team Overview</a></span>
      <span><a href="#/player">Player Analysis</a></span>
    </div>

    <div class="login-name-account">
      <span><strong>Welcome</strong> {{user.firstName}} {{user.lastName}}</span>
      <div class="account-or-logout">
        <span>
          <a href="" ng-click="logOut()">
            <span class="icon-logout"></span>
            Logout?
          </a>
        </span>
      </div>
    </div>

    <div class="team-logo">
      <div class="team-logo-svg">
        <!--SVG Team Logo-->
      </div>
    </div>
  </nav>
</div>
