<div id="main">
  <div class="container-fluid">
    <div class="row" >
      <div class="col-md-12 no-gutter">  
        <h2 class="headline floatText">App Developer. Consultant. Entrepreneur.</h2>
        <ul  rn-carousel rn-carousel-buffered rn-carousel-auto-slide rn-carousel-controls class="image headline-background">
          <li><img class="headline-background" src="images/headline-background1.jpg"></img></li>
          <li><img class="headline-background" src="images/headline-background2.jpg"></img></li>
          <li><img class="headline-background" src="images/headline-background3.jpg"></img></li>
        </ul>
      </div>
    </div>

    <section id="contact">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 column-Header">
                <span>Contact me via:</span>
            </div>
          </div>
          <div class="row section" ani-view>
            <div class="col-md-6 column">
                <div class="column-Title">Linked In</div>
                <a target="_blank" href="https://www.linkedin.com/in/george-toretta-3b080a"><i class="fa fa-linkedin fa-4x"></i></a>
            </div>
            <div class="col-md-6 column">
                <div class="column-Title">Email</div>
                <a target="_blank" href="mailto:%22George%20Toretta%22%3ctorettag@yahoo.com%3e"><i class="fa fa-envelope fa-4x"></i></a>
            </div>
          </div>
          <div class="contactMe-footer">
          </div>
        </div>
      </div>
    </section>

    <div class="row section" ani-view>
      <div class="col-md-12 block project-plug">
        Based out of New York, Ready to take on your most challenging projects.  
      </div>
    </div>

    <section id="technology">
      <div class="row section" ani-view>
        <div class="col-md-12">
          <div class="row">
            <div  class="col-md-12 column-Header">
                <span>Technologies:</span>
                <div class="tech-cloud">
                  <wordcloud height="400" width="500" fill="rgb(255,255,255)">nodeJS,Ruby,Cordova,PhoneGap,Ionic,Javascript,AngularJS,Bootstrap,CSS3,HTML5,IOS,Android,JQuery</wordcloud>
                </div>
            </div>
          </div>
        </div>
      </div>  
    </section>

    <section id="experience" >
      <div class="row section"  ani-view>
        <div class="col-md-12 column-Header">
            <span>Experience:</span>
        </div>
      </div>

      <div class="row section" ani-view>
        <!-- <div class="col-md-4 column">
            <div class="column-Title">Dun-Zo Website</div>
            Dun-Zo is a app development company founded by myself.
        </div> -->
        <div class="col-md-6 column">
            <div class="column-Title">
              <a target="_blank" href="https://itunes.apple.com/us/app/enhance-for-nest/id932684107?mt=8">Enhance for Nest</a>
            </div>
            <div>
              IOS/Android app to improve your Nest Products.  Push alert when your Nest thermastat is set too high or too low.  Graphing to help you get the most out of your heating/cooling.
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="column-Title">
              <a target="_blank" href="http://glg.it">Gerson Lehrman Group</a>
            </div>
            <div>
              Gerson Lehrman Group is the leading technology company for creating a learning platform.
            </div>
        </div>
      </div>    
    </section>
  </div>
</div>