<div id="player">
  <div class="player-box-shadow">
    <div class="padding-box">
      <div class="roster-list">
        <!--Contains the names of pitches listed in a column -->
        <h2>Roster <span class="icon-compare"></span></h2>
        <ul class="player-names">
          <li class="" ng-class="{'selected': currentPlayer.playerName == player.playerName }" ng-repeat="player in playerRoster" ng-click="selectedPlayer(player)">
            <p>{{player.playerName}}</p>
            <span class="icon-longtoss" ng-class="{'green-icon': player.longThrow}"></span>
            <span class="icon-bullpen" ng-class="{'green-icon': player.bullPen}"></span>
            <span class="icon-game" ng-class="{'green-icon': player.base}"></span>
          </li>
        </ul>
      </div>

      <div class="player-details-outter">
        <div class="player-details">
          <div class="player-details-header">
            <h2>Player</h2>
            <h2>Notes</h2>
          </div>
          <div class="player-details-stats">
            <div class="player-stats-box1">
              <div class="player-photo">
                <img ng-src="{{currentPlayer.imgUrl}}" alt="{{currentPlayer.alt}}">
              </div>
              <div class="player-key-stats">
                <h3>{{currentPlayer.playerName}}</h3>
                <span>Age: {{currentPlayer.age}}</span>
                <span>Pitches: {{currentPlayer.pitches}}</span>
                <span>Position: {{currentPlayer.position}}</span>
                <span>Level: {{currentPlayer.level | uppercase}}</span>
              </div>
            </div>
            <div class="player-notes">
              <!-- Hard Coded Notes results-->
              <div>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                <h4>Other areas of improvement include:</h4>
              </div>
              <li>Lorem ipsum dolor sit</li>
              <li>Amet consectetur adipisicing</li>
              <li>Elit Blanditiis id quidem</li>
            </div>
          </div>


          <div class="overview-header">
            <h2>Overview</h2>
            <span class="icon-eye" ng-class="{'active': overviewActiveEyeIcon}" ng-click="overviewActiveEye()"></span>
            <span class="icon-trends" ng-class="{'active': overviewActiveTrendsIcon}" ng-click="overviewActiveTrend()"></span>
          </div>
        </div>
        <!-- Nested injectable View-->
        <div class="nested-view">
          <div class="pitcher-silhouette">
            <piestats id="arm" bind="arm" slices="10"></piestats>
            <piestats id="throwShoulder" bind="throwShoulder" slices="10"></piestats>
            <piestats id="otherShoulder" bind="otherShoulder" slices="10"></piestats>
            <piestats id="hip" bind="hip" slices="10"></piestats>
            <piestats id="foot" bind="foot" ></piestats>
            <img src="../images/pitcher-sil.png" alt="Pitcher silhouette">
          </div>
        </div>
      </div>
      <div class="side-menu-buttons">
        <span ng-class="{'side-button-active': homeSideButtonActive}"
              ng-click="homeIsActive()" class="icon-home">

        </span>
        <span ng-class="{'side-button-active': trendsSideButtonActive}"
              ng-click="trendsIsActive()" class="icon-trends">

        </span>
        <span ng-class="{'side-button-active': kineticSideButtonActive}"
              ng-click="kineticIsActive()" class="icon-kinetic_chain side-button-active">

        </span>
        <span ng-class="{'side-button-active': ballreleaseSideButtonActive}"
              ng-click="ballreleaseIsActive()" class="icon-ballrelease">

        </span>
        <span ng-class="{'side-button-active': footcontactSideButtonActive}"
              ng-click="footcontactIsActive()" class="icon-footcontact">

        </span>
        <span ng-class="{'side-button-active': maxexcursionSideButtonActive}"
              ng-click="maxexcursionIsActive()" class="icon-maxexcursion">

        </span>
        <span ng-class="{'side-button-active': jointkineticsSideButtonActive}"
              ng-click="jointkineticsIsActive()" class="icon-jointkinetics">

        </span>
      </div>
    </div> <!-- .padding-box -->
  </div> <!--.player-box-shadow -->
</div>
