<div id="player">
  <div class="player-box-shadow">
    <div class="padding-box">
      <div class="roster-list">
        <!--Contains the names of pitches listed in a column -->
        <h2>Roster <span class="icon-compare"></span></h2>
        <ul class="player-names">
          <li class="" ng-class="{'selected': currentPlayer.athleteProfile.objectId == player.athleteProfile.objectId }" ng-repeat="player in playerRoster" ng-click="selectedPlayer(player)">
            <p>{{::player.athleteProfile.firstName}} {{::player.athleteProfile.lastName}}</p>
            <span class="icon-longtoss" ng-class="{'green-icon': player.longThrow}"></span>
            <span class="icon-bullpen" ng-class="{'green-icon': player.bullPen}"></span>
            <span class="icon-game" ng-class="{'green-icon': player.base}"></span>
          </li>
        </ul>
      </div>

      <!--Nested View-->
      <div ui-view></div>

      <div class="side-menu-buttons">
        <div class="side-menu-buttons-nav">
          <span ng-class="{'side-button-active': homeSideButtonActive}"
                ng-click="homeIsActive()" class="icon-home" ui-sref=".home" ui-sref-active=".home">

          </span>
          <span ng-class="{'side-button-active': kineticSideButtonActive}"
                ng-click="kineticIsActive()" class="icon-kinetic_chain">

          </span>
          <span ng-class="{'side-button-active': footcontactSideButtonActive}"
                ng-click="footcontactIsActive()" class="icon-footcontact">

          </span>
          <span ng-class="{'side-button-active': ballreleaseSideButtonActive}"
                ng-click="ballreleaseIsActive()" class="icon-ballrelease">

          </span>
          <span ng-class="{'side-button-active': maxexcursionSideButtonActive}"
                ng-click="maxexcursionIsActive()" class="icon-maxexcursion">

          </span>
          <span ng-class="{'side-button-active': jointkineticsSideButtonActive}"
                ng-click="jointkineticsIsActive()" class="icon-jointkinetics">

          </span>
          <span ng-class="{'side-button-active': trendsSideButtonActive}"
                ng-click="trendsIsActive()" class="icon-trends">

          </span>

        </div>
      </div>
    </div> <!-- .padding-box -->
  </div> <!--.player-box-shadow -->
</div>
