<div class="pitcher-silhouette">
  <piestats id="elbow" bind="pc.elbow" slices="10"></piestats>
  <piestats id="shoulder" bind="pc.shoulder" slices="10"></piestats>
  <piestats id="trunk" bind="pc.trunk" slices="10"></piestats>
  <piestats id="hip" bind="pc.hip" slices="10"></piestats>
  <piestats id="foot" bind="pc.foot" slices="10"></piestats>
  <img src="../../../images/pitcher-sil-3.png" alt="Pitcher silhouette">

  <div class="nested-footer">

    <div class="nested-footer-body-icon">
      <span class="icon-hips"></span>
      <div class="part-nested-stack">
        <span class="yellow-footer nested-hip-icon-padding">505 <sup>o</sup>/s</span>
        <span class="icon-okarrow yellow-footer"></span>
      </div>
    </div>

    <div class="nested-footer-body-icon">
      <span class="icon-trunk"></span>
      <div class="part-nested-stack">
        <span class="green-footer">909 <sup>o</sup>/s</span>
        <span class="icon-okarrow green-footer"></span>
      </div>
    </div>

    <div class="nested-footer-body-icon">
      <span class="icon-stride"></span>
      <div class="part-nested-stack">
        <span class="green-footer nested-stride-icon-padding">78%</span>
        <span class="icon-okarrow green-footer"></span>
      </div>
    </div>

    <div class="nested-footer-body-icon">
      <span class="icon-shoulderslot"></span>
      <div class="part-nested-stack">
        <span class="red-footer">862<sup>o</sup></span>
        <span class="icon-downarrow red-footer"></span>
      </div>
    </div>

    <div class="nested-footer-body-icon">
      <span class="icon-shoulderrotate"></span>
      <div class="part-nested-stack">
        <span class="green-footer">15<sup>o</sup></span>
        <span class="icon-okarrow green-footer"></span>
      </div>
    </div>
  </div>
</div>
