<div class="pitcher-silhouette">
  <piestats id="arm" bind="arm" slices="10"></piestats>
  <piestats id="throwShoulder" bind="throwShoulder" slices="10"></piestats>
  <piestats id="otherShoulder" bind="otherShoulder" slices="10"></piestats>
  <piestats id="hip" bind="hip" slices="10"></piestats>
  <piestats slices="10" id="foot" bind="foot" ></piestats>
  <img src="../../images/pitcher-sil-3.png" alt="Pitcher silhouette">

  <div class="nested-footer">

    <div class="nested-footer-body-icon">
      <span class="icon-hips"></span>
      <div class="part-nested-stack">
        <span class="yellow-footer nested-hip-icon-padding">505 <sup>o</sup>/s</span>
        <span class="icon-okarrow yellow-footer"></span>
      </div>
    </div>

    <div class="nested-footer-body-icon">
      <span class="icon-trunk"></span>
      <div class="part-nested-stack">
        <span class="green-footer">909 <sup>o</sup>/s</span>
        <span class="icon-okarrow green-footer"></span>
      </div>
    </div>

    <div class="nested-footer-body-icon">
      <span class="icon-stride"></span>
      <div class="part-nested-stack">
        <span class="green-footer nested-stride-icon-padding">78%</span>
        <span class="icon-okarrow green-footer"></span>
      </div>
    </div>

    <div class="nested-footer-body-icon">
      <span class="icon-shoulderslot"></span>
      <div class="part-nested-stack">
        <span class="red-footer">862<sup>o</sup></span>
        <span class="icon-downarrow red-footer"></span>
      </div>
    </div>

    <div class="nested-footer-body-icon">
      <span class="icon-shoulderrotate"></span>
      <div class="part-nested-stack">
        <span class="green-footer">15<sup>o</sup></span>
        <span class="icon-okarrow green-footer"></span>
      </div>
    </div>
  </div>
</div>
