<section id="snap-shot-theme">
  <div class="main-bg-ball-release">
    <div class="flex-container-row">
      <h2 class="large-flexitem">Ball Release</h2>
      <select class="small-flexitem" ng-model="ball.filterType" name="sessions" ng-change="ball.filterLastThrowType()">
        <option value="30">Last 30 Days AVG ({{::ball.currentPlayer.pitches.length}})</option>
        <option value="Game" ng-if="ball.currentPlayer.stats.game" >Last Game ({{::ball.GameCount}})</option>
        <option value="Bullpen" ng-if="ball.currentPlayer.stats.bullPen">Last Bullpen ({{::ball.BullpenCount}})</option>
        <option value="Longtoss" ng-if="ball.currentPlayer.stats.longToss">Last Longtoss ({{::ball.LongtossCount}})</option>
        <option value="Untagged" ng-if="ball.UntaggedCount">Untagged ({{::ball.UntaggedCount}})</option>

      </select>
    </div>
    <div class="flex-container-row">

      <div class="metric-table large-flexitem">
        <table>
          <tr>
            <th>Value</th>
            <th>Unit</th>
            <th>Metric</th>
            <th>Rating</th>
          </tr>
          <tr class="col-data" ng-class-odd="'metric-odd'" ng-class-even="'metric-even'" ng-repeat="eliteMetric in ball.eliteMetrics"
          ng-class="{'selected':eliteMetric == ball.selectedMetric}" ng-click="ball.setClickedRow(eliteMetric, $index)">

            <td class="metricval">
              <span class="metricval" ng-if="eliteMetric.pstats.score==null">NA</span><span class="metricval" ng-if="eliteMetric.pstats.score!=null">{{::eliteMetric.pstats.score | number:0}}</span>
            </td>

            <td>
              <span class="unit">{{::eliteMetric.units}}</span>
            </td>
            <td class="capitalize">{{::eliteMetric.title}}</td>
            <td ng-if="eliteMetric.pstats.score==null"></td>
            <td ng-if="eliteMetric.pstats.rating=='OK'"><span class="icon-okarrow ok"></span></td>
            <td ng-if="eliteMetric.pstats.rating=='Good'"><span class="icon-okarrow good"></span></td>
            <td ng-if="eliteMetric.pstats.rating=='Poor'"><span class="icon-downarrow"></span></td>
          </tr>
        </table>
      </div>

      <div class="comparison flex-container-col small-flexitem">

        <table>
           <tr class="metric-odd">
            <td>PLAYER</td>
            <td class="metricval"><span class="metricval" ng-if="ball.selectedPlayerMetric==null">NA</span>{{ball.selectedPlayerMetric | number:0}}<span class="unit">{{ball.selectedMetric.units}}</span></td>
          </tr>
          <tr class="metric-even">
            <td>ELITE</td>
            <td class="metricval">{{ball.selectedMetric.avg}}<span class="unit">{{ball.selectedMetric.units}}</span></td>
          </tr>
        </table>

        <div class="img">
          <img ng-src="../../{{ball.image}}" height="100%" width="100%" alt="">
        </div>

        <div class="description">
          <span class="title capitalize">{{ball.selectedMetric.title}}</span><br>
          <span class="title">Elite Range: {{ball.selectedMetric.eliteLow}}-{{ball.selectedMetric.eliteHigh}}</span><br>
          <p>{{ball.selectedMetric.description}}</p>
        </div>

      </div>
    </div>
  </div>
</section>
