<section id="snap-shot-theme">
  <div class="main-bg-foot-contact">
    <div class="flex-container-row">
      <h2 class="large-flexitem">Foot Contact</h2>
      <select class="small-flexitem" name="sessions">
        <option value="LastThirty">Last 30 Days AVG</option>
        <option value="LastGame">Last Game</option>
        <option value="LastBullpen">Last Bullpen</option>
        <option value="LastLongtoss">Last Longtoss</option>
      </select>
    </div>
    <div class="flex-container-row">

      <div class="metric-table large-flexitem">
        <table>
          <tr>
            <th>Value</th>
            <th>Metric</th>
            <th>Rating</th>
          </tr>
          <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="metric in foot.legend"
          ng-class="{'selected':$index == foot.selectedRow}" ng-click="foot.setClickedRow($index)">
            <td  class="metricval">{{metric.value}}<span class="unit">Deg</span></td>
            <td>{{metric.title}}</td>
            <td><span class="icon-okarrow"></span></td>
          </tr>
        </table>
      </div>

      <div class="comparison flex-container-col small-flexitem">

        <table>
          <tr class="odd">
            <td>PLAYER</td>
            <td class="metricval">78<span class="unit">Deg</span></td>
          </tr>
          <tr class="even">
            <td>ELITE</td>
            <td class="metricval">83<span class="unit">Deg</span></td>
          </tr>
        </table>

        <div class="img">
          <img ng-src="../../{{foot.image}}" height="100%" width="100%" alt="">
        </div>

        <div class="description">
          <span class="title">{{foot.title}}</span><br>
          <span class="title">Elite Range: {{foot.range}}</span><br>
          <p>{{foot.desc}}</p>
        </div>

      </div>
    </div>
  </div>
</section>
