<section id="snap-shot-theme">
  <div class="main-bg-foot-contact">
    <div class="flex-container-row">
      <h2 class="large-flexitem">Foot Contact</h2>
      <select class="small-flexitem" name="sessions">
        <option value="LastThirty">Last 30 Days AVG</option>
        <option value="LastGame">Last Game</option>
        <option value="LastBullpen">Last Bullpen</option>
        <option value="LastLongtoss">Last Longtoss</option>
      </select>
    </div>
    <div class="flex-container-row">

      <div class="metric-table large-flexitem">
        <table>
          <tr>
            <th>Value</th>
            <th>Metric</th>
            <th>Rating</th>
          </tr>
          <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="eliteMetric in foot.eliteMetrics"
          ng-class="{'selected':eliteMetric == foot.selectedMetric}" ng-click="foot.setClickedRow(eliteMetric)">
            <td  class="metricval">{{eliteMetric.avg}}<span class="unit">{{eliteMetric.units}}</span></td>
            <td>{{eliteMetric.title}}</td>
            <td><span class="icon-okarrow"></span></td>
          </tr>
        </table>
      </div>

      <div class="comparison flex-container-col small-flexitem">

        <table>
          <tr class="odd">
            <td>PLAYER</td>
            <td class="metricval">{{foot.selectedPlayerMetric}}<span class="unit">{{foot.selectedMetric.units}}</span></td>
          </tr>
          <tr class="even">
            <td>ELITE</td>
            <td class="metricval">{{foot.selectedMetric.avg}}<span class="unit">{{foot.selectedMetric.units}}</span></td>
          </tr>
        </table>

        <div class="img">
          <img ng-src="../../{{foot.image}}" height="100%" width="100%" alt="">
        </div>

        <div class="description">
          <span class="title">{{foot.selectedMetric.title}}</span><br>
          <span class="title">Elite Range: {{foot.selectedMetric.eliteLow}}-{{foot.selectedMetric.eliteHigh}}</span><br>
          <p>{{foot.selectedMetric.description}}</p>
        </div>

      </div>
    </div>
  </div>
</section>
