<section id="snap-shot-theme">
  <div class="main-bg-foot-contact">
    <div class="flex-container-row">
      <div class="flex-container-col">
        <h2 class="large-flexitem">Foot Contact</h2>
      </div>
      <div class="flex-container-col subFilters">
        <div>
          <select class="small-flexitem" ng-model="foot.filteredPitches" name="sessions" ng-change="foot.filterSession()" ng-options="value as key.replace(':',' ') + ' (' + value.length + ')' for (key, value) in foot.sessions">
            <option value="">Last 30 Days AVG ({{::foot.currentPlayer.pitches.length}})</option>
          </select>
        </div>
        <div ng-if="foot.subFilters.level1.length">
          <select class="small-flexitem" ng-model="foot.subTag1" name="sessions" ng-change="foot.subFilterChange()" ng-options="subTag for subTag in foot.subFilters.level1">
            <option value="">Sub Filter</option>
          </select>
        </div>
        <div ng-if="foot.subFilters.level2.length">
          <select class="small-flexitem" ng-model="foot.subTag2" name="sessions" ng-change="foot.subFilterChange()" ng-options="subTag for subTag in foot.subFilters.level2">
            <option value="">Sub Filter</option>
          </select>
        </div>
      </div>
    </div>
    <div class="flex-container-row">

      <div class="metric-table large-flexitem">
        <table>
          <tr>
            <th>Value</th>
            <th>Unit</th>
            <th>Metric</th>
            <th>Rating</th>
          </tr>
          <tr class="col-data" ng-class-odd="'metric-odd'" ng-class-even="'metric-even'" ng-repeat="eliteMetric in foot.eliteMetrics"
          ng-class="{'selected':eliteMetric == foot.selectedMetric}" ng-click="foot.setClickedRow(eliteMetric,$index)">

            <td class="metricval">
              <span class="metricval" ng-if="eliteMetric.pstats.score==null">NA</span><span class="metricval" ng-if="eliteMetric.pstats.score!=null">{{eliteMetric.pstats.score | number:0}}</span>
            </td>

            <td>
              <span class="unit">{{::eliteMetric.units}}</span>
            </td>

            <td class="capitalize">{{::eliteMetric.title}}</td>
            <td ng-if="eliteMetric.pstats.score==null"></td>
            <td ng-if="eliteMetric.pstats.rating=='Exceed'"><span class="icon-uparrow good"></span></td>
            <td ng-if="eliteMetric.pstats.rating=='OK'"><span class="icon-okarrow ok"></span></td>
            <td ng-if="eliteMetric.pstats.rating=='Good'"><span class="icon-okarrow good"></span></td>
            <td ng-if="eliteMetric.pstats.rating=='Poor'"><span class="icon-downarrow"></span></td>
          </tr>

        </table>
      </div>

      <div class="comparison flex-container-col small-flexitem">

        <table>
          <tr class="metric-odd">
            <td>PLAYER</td>
            <td class="metricval"><span class="metricval" ng-if="foot.selectedPlayerMetric==null">NA</span>{{foot.selectedPlayerMetric | number:0}}<span class="unit">{{foot.selectedMetric.units}}</span></td>
          </tr>
          <tr class="metric-even">
            <td>ELITE</td>
            <td class="metricval">{{foot.selectedMetric.avg | number:0}}<span class="unit">{{foot.selectedMetric.units}}</span></td>
          </tr>
        </table>

        <div class="img">
          <img ng-src="../../{{foot.image}}" height="100%" width="100%" alt="">
        </div>

        <div class="description">
          <span class="title capitalize">{{foot.selectedMetric.title}}</span><br>
          <span class="title">Elite Range: {{foot.selectedMetric.eliteLow}}-{{foot.selectedMetric.eliteHigh}}</span><br>
          <p>{{foot.selectedMetric.description}}</p>
        </div>

      </div>
    </div>
  </div>
</section>
