<div class="player-details-outter">
  <div class="nested-view">
    <div class="overview-header">
      <h2>Overview</h2>
      <span class="icon-eye" ui-sref="player.home.overview" ng-class="{'active-overview-icon': pc.state.includes('player.home.overview')}"></span>
      <span ng-class="{'active-overview-icon': pc.state.includes('player.home.trends')}" ui-sref="player.home.trends" class="icon-trends"></span>
      <span ng-class="{'active-overview-icon': pc.state.includes('player.home.profile')}" ui-sref="player.home.profile" class="icon-profile"></span>
      <span ng-class="{'active-overview-icon': pc.state.includes('player.home.accordion')}" ui-sref="player.home.accordion" class="icon-profile"></span>
    </div>
    <div ui-view></div>
  </div>
</div>
