<section id="snap-shot-theme">
  <div class="main-bg-joint-kinetics">
    <div class="flex-container-row">
      <h2 class="large-flexitem">Kinetics</h2>
      <select class="small-flexitem" name="cars">
        <option value="LastThirty">Last 30 Days AVG</option>
        <option value="LastGame">Last Game</option>
        <option value="LastBullpen">Last Bullpen</option>
        <option value="LastLongtoss">Last Longtoss</option>
      </select>
    </div>
    <div class="flex-container-row">

      <div class="metric-table large-flexitem">
        <table>
          <tr>
            <th>Value</th>
            <th>Metric</th>
            <th>Rating</th>
          </tr>
          <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="elite in joint.eliteMetrics" 
          ng-class="{'selected':$index == joint.selectedRow}" ng-click="joint.setClickedRow($index, elite)">
            <td  class="metricval">{{elite.value}}<span class="unit">Deg</span></td>
            <td>{{elite.metric}}</td>
            <td><span class="icon-okarrow"></span></td>
          </tr>
        </table>
        selectedRow = {{joint.selectedRow}}
        $index = {{$index}}
      </div>

      <div class="comparison flex-container-col small-flexitem">

        <table>
          <tr class="odd">
            <td>PLAYER</td>
            <td class="metricval">78<span class="unit">Deg</span></td>
          </tr>
          <tr class="even">
            <td>ELITE</td>
            <td class="metricval">83<span class="unit">Deg</span></td>
          </tr>
        </table>

        <div class="img">
          <img src="../../images/shoulderrotation.jpg" height="100%" width="100%" alt="">
        </div>

        <div class="description">
          <span class="title">Title Goes Heres</span><br>
          <span class="title">Elite Range: 45</span><br>
          <p>This should really be an easy thing to show
            This should really be an easy thing to show</p>
        </div>

      </div>
    </div>
  </div>
</section>
