<section id="chain">
 <div class="player-details-outter">
   <div class="player-details">
     <div class="player-details-header flex-container-col">
       <h2>Kinetic Chain</h2>
     </div>
    
    chainData {{chain.playerScores}}
     <section>
         <div class="flex-container-row">
           <div class="flex-container-col">
             <div class="chain-graphs flex-grow-max">
               <kinetic style="text-transform: uppercase; font-size:.75em" width="40%" height="400" id="playerKineticChart" bind="chain.playerScores"></kinetic>
             </div>
           </div>
         </div>
     </section>
   </div>
 </div>
</section>
