<section id="snap-shot-theme">
  <div class="main-bg-max-ex">
    <div class="flex-container-row">
      <h2 class="large-flexitem">Max Excursion</h2>
      <select class="small-flexitem" ng-model="max.filterType" name="sessions" ng-change="max.filterLastThrowType()">
        <option value="30">Last 30 Days AVG ({{max.currentPlayer.pitches.length}})</option>
        <option value="Game" ng-if="max.currentPlayer.stats.game" >Last Game ({{max.GameCount}})</option>
        <option value="Bullpen" ng-if="max.currentPlayer.stats.bullPen">Last Bullpen ({{max.BullpenCount}})</option>
        <option value="Longtoss" ng-if="max.currentPlayer.stats.longToss">Last Longtoss ({{max.LongtossCount}})</option>
        <option value="Untagged" ng-if="max.UntaggedCount">Untagged ({{max.UntaggedCount}})</option>

      </select>
    </div>
    <div class="flex-container-row">

      <div class="metric-table large-flexitem">
        <table>
          <tr>
            <th>Value</th>
            <th>Metric</th>
            <th>Rating</th>
          </tr>
         <tr class="col-data" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="eliteMetric in max.eliteMetrics"
          ng-class="{'selected':eliteMetric == max.selectedMetric}" ng-click="max.setClickedRow(eliteMetric,$index)">

            <td class="metricval">
              <span class="metricval" ng-if="eliteMetric.pstats.score==null">NA</span><span class="metricval" ng-if="eliteMetric.pstats.score!=null">{{eliteMetric.pstats.score}}</span><span class="unit">{{eliteMetric.units}}</span>
            </td>
            
            <td class="capitalize">{{eliteMetric.title}}</td>
            <td ng-if="eliteMetric.pstats.score==null"></td>
            <td ng-if="eliteMetric.pstats.rating=='OK'"><span class="icon-okarrow ok"></span></td>
            <td ng-if="eliteMetric.pstats.rating=='Good'"><span class="icon-okarrow good"></span></td>
            <td ng-if="eliteMetric.pstats.rating=='Poor'"><span class="icon-downarrow"></span></td>
          </tr>
        </table>
      </div>

      <div class="comparison flex-container-col small-flexitem">

         <table>
          <tr class="odd">
            <td>PLAYER</td>
            <td class="metricval"><span class="metricval" ng-if="max.selectedPlayerMetric==null">NA</span>{{max.selectedPlayerMetric}}<span class="unit">{{max.selectedMetric.units}}</span></td>
          </tr>
          <tr class="even">
            <td>ELITE</td>
            <td class="metricval">{{max.selectedMetric.avg}}<span class="unit">{{max.selectedMetric.units}}</span></td>
          </tr>
        </table>

        <div class="img">
          <img ng-src="../../{{max.image}}" height="100%" width="100%" alt="">
        </div>

        <div class="description">
          <span class="title capitalize">{{max.selectedMetric.title}}</span><br>
          <span class="title">Elite Range: {{max.selectedMetric.eliteLow}}-{{max.selectedMetric.eliteHigh}}</span><br>
          <p>{{max.selectedMetric.description}}</p>
        </div>

      </div>
    </div>
  </div>
</section>
