<p>Trends</p>
<groupedbarchart style="text-transform: uppercase; font-size:.75em" width="60%" height="400" id="playerTrendChart" bind="trends.playerScores"></groupedbarchart>

<div>
  <div class="accordion-box">

    <uib-accordion close-others="true">
      <uib-accordion-group>
        <uib-accordion-heading>
          FOOT
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        Content
      </uib-accordion-group>
      <uib-accordion-group>
        <uib-accordion-heading >
          HIPS
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        Content
      </uib-accordion-group>
      <uib-accordion-group>
        <uib-accordion-heading >
          TRUNK
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        Content
      </uib-accordion-group>
      <uib-accordion-group>
        <uib-accordion-heading >
          SHOULDERS
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        Content
      </uib-accordion-group>
      <uib-accordion-group>
        <uib-accordion-heading >
          ELBOW
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        Content
      </uib-accordion-group>
    </uib-accordion>

  </div>

  <ul>
    <li ng-repeat="eliteMetric in trends.eliteMetrics" ng-click="trends.selectMetric(eliteMetric)">{{eliteMetric.metric}}</li>
  </ul>
</div>
