arealinechart{
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
  }

  .line {
    stroke: #000;
    stroke-width: .1em;
  }

  .circle{
    stroke: #000;
    stroke-width: .1em;
    r: .7em;
    fill: @motus-darkorange;
    z-index: 10;
  }

  .area {
    fill: @motus-blue;
    stroke: #000;
  }
}