barchart {

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
  }

  .grid path {
    stroke-width: 0;
  }

  .bar {
    transform: scaleX(.7);
    transform-origin: center;
  }

  .x.axis path {
    display: none;
  }

  .average {
    stroke: @motus-darkorange;
    stroke-width: .3em;
    transform: scaleX(.7);
    transform-origin: center;
  }

  .average-text{
    transform: scaleX(1);
    font-size: .6em;
    stroke-width: .1em;
  }

}