groupedbarchart {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
  }

  .rect {
    cursor: pointer;
    fill: @charcoalgray;
    
    &:hover{
      fill: @motus-black;
    }

    &.Longtoss {
      fill: @longtoss-background-color;
    }
    &.Bullpen {
      fill: @bullpen-background-color;
    }
    &.Game {
      fill: @game-background-color;
    }
    &.Untagged {
      fill: @untagged-background-color;
    }
  }

  .rect.selected {
    fill: @motus-lightorange;
    
    &:hover{
      fill: @motus-darkorange;
    }
  }



  .x.axis path {
    display: none;
  }

  .average{
    stroke: @motus-darkorange;
    stroke-width: .3em;
  }

  .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
  }

  .grid path {
    stroke-width: 0;
  }
}