kinetic {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis {
    line {
      stroke: white;
    }
    .tick {
      text{
        display: none;
      }    
    }
  }

  .average{
    fill: @motus-darkorange;
    stroke: #000;
    stroke-width: 0;

  }

  .circle{
    r: .5em;
    stroke: #000;
    stroke-width: 1;
    fill: white;
    transition: all 0.2s ease;
    &:hover {
      r: .7em;
    }
  }

  .line {
    fill: none;
    stroke-width: 3;
  }

  .peak {
    stroke: @charcoalgray;
    stroke-width: 1;
  }

  .selector {
    stroke: @charcoalgray;
    stroke-width: .1;
  }

}