kinetic {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis {
    .tick {
      text{
        display: none;
      }    
    }

  }

  .circle{
    r: 5;
    stroke: #000;
    stroke-width: 0;
    fill: @motus-darkorange;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

}