kinetic {
  font-size: .75em;

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis {
    line {
      stroke: @motus-btngrey;
    }
    .tick {
      text{
        display: none;
      } 
      
      &:nth-child(5n) {
        line{
          transform: scaleY(1.5);
        }
      }  
    }
  }

  .y.axis{
    line {
      display: none;
    }
    .domain {
        display:none;
    }
  }

  .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
  }

  .grid path {
    stroke-width: 0;
  }

  .border-right{
    stroke: @charcoalgray;
    opacity: .5;
  }


  .average{
    stroke: @motus-darkorange;
  }

  .average-text {
    font-size: .7em;
  }

  .circle{
    r: .5em;
    stroke: #000;
    stroke-width: 0;
    fill: white;
    transition: all 0.2s ease;
    &:hover {
      r: .7em;
    }
  }

  .timing-marker-text {
    stroke: white;
  }

  .peak-circle{
    r: .5em;
    stroke: #000;
    stroke-width: 0;
    transition: all 0.2s ease;
    &:hover {
      r: .7em;
    }
  }

  .line {
    fill: none;
    stroke-width: 4;

    &.Hip {
      stroke: #ffe966;
    }
    &.Trunk {
      stroke: #00a339;
    }
    &.Forearm {
      stroke: #085bac;
    }


  }

  .peak {
    stroke: @charcoalgray;
    stroke-width: 1;
  }

  .selector {
    stroke: @charcoalgray;
    stroke-width: .1;
  }

}