// .d3-tip-tooltip {
//     color: green;
//   }

piestats{
  svg {
    padding-top: 11px;
    padding-left: 11px;
    width: 125px;
    height: 125px;
    right: 0;

    .solidArc{
      transform: scale(0.85);
      transform-origin: center;
      opacity: .8;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }
}