#bullpen {
  .bullpen-holder {
    margin:auto;
    padding-bottom: 2em;
    position: relative;
    transition: all 0.2s ease;
    transform-origin: left top;
  }

  .elite-label{
    position:absolute;
    top:32.5%;
    color: black;
    left: 1em;
  }

  .graph-context {
    padding-left: 2.9em;
    font-size: 1.25em;
    width: 100%;
  }



  /*==========  Mobile Options ==========*/
  /* Large Devices, Wide Screens */
  @media (max-width: 1200px) {
    .bullpen-holder {

    }
  }

  /* Medium Devices, Desktops */
  @media (max-width: 1024px) {
    .graph-context {
        padding-left: 3.6em;
        font-size: 1em;
    }
    .bullpen-holder {

      // transform: scale(.8);
    }
  }
  /* Small Devices, Tablets */
  @media (max-width: 768px) {
    overflow: scroll;
   .bullpen-holder {
      // transform: scale(.4);
    }
  }

  /* Extra Small Devices, Phones */
  @media  (max-width: 480px) {
    .bullpen-holder {
      // transform: scale(.3);
    }
  }

  /* Custom, iPhone Retina */
  @media  (max-width: 320px) {
    .bullpen-holder {
      // transform: scale(.2);
    }
  }

}
