#bullpen {
  .bullpen-holder {
    padding-left: 2em;
    padding-bottom: 2em;
    position: relative;
    transition: all 0.2s ease;
    transform-origin: left top;
  }

  .elite-label{
    position: absolute;
    top: 20%;
    color: @motus-blue;
  }
  
}
