#judgement {
  display: flex;
  flex-direction: column;
  .header {
  
  }
  .judgement-list {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding-left: 40px;
    padding-bottom: 40px;
    .judged-player {
      background-color: orange;
      margin:5px;
      width: 200px;
      height:200px;
    }
  }
}
