#judgement {
  display: flex;
  flex-direction: column;
  .header {

  }
  .judgement-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    padding-left: 2.857em;
    padding-right: 2.857em;
    padding-bottom: 2.857em;
    justify-content: space-around;

    .judged-player {
      margin:0.357em;
      flex: 1;
      height: 7.143em;
      box-sizing: border-box;
    }
  }
    
  .judgementloader {
    background: black;
    width: 100%;
    height: 300px;
    color: white;
  }

  .texthldr {
    position: relative;
    width: 100%;
    height: 2.857em;
    top: -18.824em;
    padding-left: 5.882em;
    left: 0;
    font-weight: bold;
    font-size: 1.214em;
  }

  .textrating {
    font-family: "Arial-Black", Arial, sans-serif;
    font-size: 1.786em;
    line-height: 1.24em;
    text-transform:uppercase;
  }

  .subtextrating {
    font-size: 1.214em;
    font-weight: normal;
    font-family: 'Arial-Narrow', Arial, sans-serif;
  }

  .imghldr {
    width: 15.214em;
    height: 22.857em;
    transform: scale(.40,.40);
    position: relative;
    border-radius: 50%;
    left: -4.571em;
    top: -6.500em;
  }
}
