#roster-chart {

  .chart {
    padding-left: 2.857em;
    padding-right: 2.857em;
    padding-bottom: 2.857em;
  }

  .icon-longtoss {
     font-size: 2em;
     position: relative;
     top: 0.214em;
  }

  .icon-bullpen {
     font-size: 2em;
     position: relative;
     top: 0.214em;
  }

  .icon-game {
     font-size: 1.6em;
     position: relative;
     top: 0.214em;
  }

  .completed {
    color: @motus-green;
  }

  .joint-rating-box {
    width: 2.143em;
    height: 2.143em;
    background-color: @motus-darkgrey;
  }

  .ok {
    background-color: @motus-tangerine !important;
  }

  .poor {
    background-color: @motus-red !important;
  }

  .good {
    background-color: @motus-green !important;
  }

  .overallScore {
    font-family: "Arial-Black", Arial, sans-serif;
    font-size: 1.143em;
  }
  .overall-ok {
    color: @motus-tangerine !important;
  }

  .overall-poor {
    color: @motus-red !important;
  }

  .overall-good {
    color: @motus-green !important;
  }

  td, th {
    padding: 0;
    padding-left:.7em;
    margin-right: 1em;
  }

  th {
    font-weight:bold;
  }

  tr {
   padding: 0.571em;
  }

  table {
    width: 100%;
  }

  .odd {
      background-color: rgba(202, 227, 243,.85);
    }
  .even {
      background-color: rgba(175, 197, 211,.85);
  }



}
