#roster-chart {

  .chart {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }

  .icon-longtoss {
     font-size: 2em;
     position: relative;
     top: 3px;
  }
  
  .icon-bullpen {
     font-size: 2em;
     position: relative;
     top: 3px;
  }

  .icon-game {
     font-size: 1.6em;
     position: relative;
     top: 3px;
  }

  .completed {
    color: @motus-green;
  }

  .joint-rating-box {
    width: 30px;
    height: 30px;
    background-color: @motus-darkgrey;
  }

  .ok {
    background-color: @motus-tangerine !important;
  }

  .poor {
    background-color: @motus-red !important;
  }

  .good {
    background-color: @motus-green !important;
  }

  .overallScore {
    font-family: "Arial-Black";
    font-size: 16px;
  }
  .overall-ok {
    color: @motus-tangerine !important;
  }

  .overall-poor {
    color: @motus-red !important;
  }

  .overall-good {
    color: @motus-green !important;
  }
  
  td, th {
    padding: 0em;
    padding-left:.7em;
    margin-right: 1em;
  }

  th {
    font-weight:bold;
  }

  tr {
   padding: 8px;
  }

  table {
    width: 100%;
  }

  .odd {
      background-color: rgba(202, 227, 243,.85);
    }
  .even {
      background-color: rgba(175, 197, 211,.85);
  }



}