#team-overview {
  font-family:Arial, sans-serif;
  h2 {
    color: @motus-blue;
    font-size: 2.571em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 1.111em;
    padding-bottom: 0.889em;
  }
  .team-box-shadow{
    box-shadow: 0 0 1em #555555;
    margin-left: 1.071em;
    margin-right: 1.071em;
    display: flex;
  }
  .team-padding-box {
    padding: 0.571em 0.571em 0.571em 0.571em;
    display: flex;
    width: 100%;
  }
  .team-padding-box-nested {
    padding: 0.571em 0.571em 0.571em 0.571em;
    width: 100%;
    background-color: @motus-offwhite;
    display: flex;
    flex-direction: column;
  }
}
@import "judgement";
@import "rosterchart";
