
#snap-shot-theme {

  // Accordion Styles - The accordion is in the 'trends.html' file
  .accordion-box {

    .accordion-even {
      background-color: darken(#888b8a, 5%);
    }
    .accordion-active {
      background-color: @motus-darkgrey !important;
    }

    .icon-chevdown:before {
      content: "\e91e" !important;
    }
    .icon-chevright:before {
      content: "\e91f"!important;
    }

    .panel {
      border:none;

    }
    .panel-body {
      background-color: #888b8a;
      color: #ffffff;
      padding:0;

      ul li {
        list-style: none;
        line-height: 1.25em;
        padding: 0.75em;
        cursor: pointer;
        &:hover {
          background-color: @motus-darkgrey;

        }
      }

      ul {
        //padding: .75em;
        padding:0;
        font-size: 1.05em;
        font-family: 'Arial-Narrow-Bold', 'Arial', sans-serif !important;
      }
    }
    .panel-default {
      width:13.214em;

    }

    .panel-default>.panel-heading {
      color: @motus-black;
      background-color: @motus-darkgrey;
      border-bottom: 3px solid @motus-lightorange;
      border-radius: 0px;

    }
    .panel-group .panel {
      margin-top: 0;
    }
    .panel-group .panel-heading+.panel-collapse>.panel-body {
      border-top: 0;
    }
  }

  background-color: @motus-offwhite;
  width:inherit;
  html,body { height:100%; }


  select.small-flexitem {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid #f38d4f;
    background: url(/images/arrow-down-orange.png) no-repeat;
    background-position: 100%;
    background-size: 20px;

    &:focus, input:focus{
      outline: 0;
    }
    &:hover {
      transition: all 0.3s ease-out;
      border-bottom-color: darken(#f38d4f, 10%);
      background: url('../../../images/arrow-down-orange-dark.png') no-repeat;
      background-position: 100%;
      background-size: 20px;
    }

  }
  .main-bg-joint-kinetics {
    background-image: url("../../../images/kinetics-bg.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-color:rgba(255, 255, 255, 0.15);

  }
  .main-bg-max-ex {
    background-image: url('../../../images/maxex-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50px 0px;
    background-color:rgba(255, 255, 255, 0.15);
  }
  .main-bg-ball-release {
    background-image: url('../../../images/ball-release-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50px 0px;
    background-color:rgba(255, 255, 255, 0.15);
  }
  .main-bg-foot-contact {
    background-image: url('../../../images/foot-contact-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(255, 255, 255, 0.15);
  }



  h2 {
    color: @motus-blue;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    padding-top: 20px;
    padding-left: 40px
  }

  .flex-container-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
  }

  .flex-container-col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
  }

  .large-flexitem {
    -webkit-flex: 3 0 0;
    flex: 2 0 0;


  }

  .small-flexitem {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }

  .metricval {
    font-family: "Arial-Black", Arial;
    font-size: 30px;
    padding-left: 0.6em;
    text-align: right;
  }

  .unit {
    font-family: 'Arial-Narrow', Arial, sans-serif;
    font-size: 12px;
    padding:.25em;
    text-align: left;
  }

  select {
    margin-top: 30px;
    margin-right: 40px;
  }

  td, th {
    padding: 8px;
  }

  tr .col-data {
    padding-left: 1.5em;
  }

  tr.col-data {

    &:hover {
      transition: all 0.3s ease-out;
      color: @motus-lightorange;
      background-color: @motus-darkgrey!important;
    }
  }

  .selected {
    color: @motus-lightorange;
    background-color: @charcoalgray!important;
  }

  .metric-table tr {
    cursor: pointer;
  }
  .metric-table {
    margin-left: 40px;
    margin-top: 15px;
    padding-bottom: 40px;
  }

  .comparison table {
    width: 100%;
    min-width: 213px;
    margin-top: 31px;
    text-align: center;
  }

  .metric-odd {
    background-color: rgba(202, 227, 243,.85);
  }
  .metric-even {
    background-color: rgba(175, 197, 211,.85);
  }

  .capitalize {
    text-transform: capitalize;
  }

  .icon-okarrow {
    font-size: 30px;
    position: relative;
    top: 3.9px;
  }

  .icon-uparrow {
    font-size: 30px;
    position: relative;
    top: 3.9px;
  }

   .icon-downarrow {
    font-size: 30px;
    position: relative;
    top: 3.9px;
    color: @motus-red;
  }

   .ok {
    color: @motus-tangerine;
  }

  .good {
    color: @motus-green;
  }

  .img {
    min-width: 243px;
    min-height: 243px;
  }

  .comparison {
    min-width: 243px;
    margin-top: 20px;
    margin-right:40px;
    padding-bottom: 40px;
  }

  .description {
    padding: 20px 15px 30px 15px;
    background: rgba(175, 197, 211,.75);
    min-width: 243px;
  }

  .title {
    font-weight: bold;
  }

   /*==========  Mobile Options ==========*/

  /* Large Devices, Wide Screens */
  @media (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media (max-width : 1024px) {
    h2 {
      font-size: 30px;
    }

  }
  /* Extra large Devices */
  @media (max-width: 1920px) {
    .metric-table {
      margin-left: 40px;
      margin-top: 15px;
      table {
        width: 75%;
      }
    }
  }
  /* Large Devices */
  @media (max-width: 1200px) {

  }

  /* iPad landscape */
  @media (max-width: 1024px) {

  }
  /* Small Devices, Tablets */
  @media (max-width : 768px) {


  }

  /* Extra Small Devices, Phones */
  @media (max-width : 480px) {

  }

  /* Custom, iPhone Retina */
  @media (max-width : 320px) {

  }
}









