<section id="trends">
 <div class="player-details-outter">
   <div class="player-details">

     <div class="player-details-header flex-container-col">
       <h2>Trends</h2>
       <!--Injected Checkboxes-->
       <div ui-view="checkboxes"></div>
     </div>

     <section class="trends-margin">
         <div class="flex-container-row">
           <div class="accordion-box">
             <!--Injected Accordion Box-->
             <div ui-view="trendsaccordion"></div>
           </div>

           <div class="flex-container-col">

             <div class="trends-graphs flex-grow-max">
              <div>
                <groupedbarchart style="text-transform: uppercase; font-size:.75em" width="40%" height="275" id="playerTrendChart" bind="trends.playerScores"  on-click="trends.groupClick(element)"></groupedbarchart>
              </div>

              <div>
                <div class="line-header">
                  {{trends.selectedSession.date}} {{trends.selectedSession.tag}}
                </div>
                <div>
                  <linechart style="text-transform: uppercase; font-size:.75em" width="40%" height="275" id="playerTrendDetailChart" bind="trends.playerDetailScores"></linechart>
                </div>
                <div ng-if="trends.playerDetailScores && trends.subFilters.level1" class="flex-container-row checkbox-filters">
                  <div ng-repeat="(subFilter, value) in trends.subFilters.level1" class="checkbox-spacer">
                    <div ng-click="trends.subFilterChange(subFilter, 1)">
                      <input type="checkbox" ng-model="trends.subFilters.level1[subFilter]">
                      <label class="check-box generic"></label>
                      <span>{{subFilter}}</span>
                    </div>
                  </div>
                </div>
                <div ng-if="trends.playerDetailScores && trends.subFilters.level2" class="flex-container-row checkbox-filters">
                  <div ng-repeat="(subFilter, value) in trends.subFilters.level2" class="checkbox-spacer">
                    <div ng-click="trends.subFilterChange(subFilter, 2)">
                      <input type="checkbox" ng-model="trends.subFilters.level2[subFilter]">
                      <label class="check-box generic"></label>
                      <span>{{subFilter}}</span>
                    </div>
                  </div>
                </div>
              </div>
             </div>
           </div>
         </div>
     </section>
   </div>
 </div>
</section>
