<section id="trends">
 <div class="player-details-outter">
   <div class="player-details">

     <div class="player-details-header">
       <h2>Trends</h2>
     </div>

     <section class="flex-container-col">

       <div class="flex-container-row">

         <div class="flex-container-row">

           <div class="accordion-box">
             <div ui-view="trendsaccordion"></div>
           </div>

           <div class="flex-container-col">
             <div class="checkbox-filters">
               <input type="checkbox" id="c1" name="LT"> <label for="c1"><span>LT</span></label>
               <input type="checkbox">
               <input type="checkbox">
               <input type="checkbox">
             </div>
             <div>
               <groupedbarchart style="text-transform: uppercase; font-size:.75em" width="40%" height="400" id="playerTrendChart" bind="trends.playerScores"  on-click="trends.groupClick(element)"></groupedbarchart>

               <linechart style="text-transform: uppercase; font-size:.75em" width="40%" height="400" id="playerTrendDetailChart" bind="trends.playerDetailScores"></linechart>
             </div>
           </div>


         </div>
       </div>
     </section>
   </div>
 </div>
</section>
