<div id="login" class="login-theme">
  <div class="motus-svg-logo">
    <img alt="Motus Logo" src='../images/motus-logo.svg'>
  </div>
  <div class="player-box-shadow">
    <div class="padding-box">
      <div class="colored-box">
        <div class="login-box-outter">
          <div class="login-padding-box">
            <div class="login-box">
              <form action="" ng-submit="login()">
                <div class="login-input-email">
                  <input type="email" ng-model="email" placeholder="Login" required>
                </div>

                <div class="login-input-password">
                  <input type="password" ng-model="password" placeholder="Password" required>
                </div>

                <div class="login-buttons">
                  <input type="submit" id="submit" value="Enter the dashboard">
                </div>
              </form>
              <div class="login-error" ng-if="error">
                <span>Your Username and Password are incorrect.<span>
              </div>
              <div class="forgot-password">
                <a ui-sref="forgotPassword"><span>Forgot Password</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
