@motus-black: #FFF;
@motus-darkorange: #f15a24;
@motus-lightorange: #f38d4f;
@motus-tangerine: #ffaa22;
@motus-btngrey: #666666;
@motus-darkgrey: #515052;
@motus-offwhite: #f1f1f2;
@motus-green: #00be76;
@motus-blue: #007dc5;
@motus-red: #f90b1c;
@charcoalgray: #2b2f2e;

