@font-face {
  font-family: 'motus';
  src:    url('../fonts/motus.eot?ychtnk');
  src:    url('../fonts/motus.eot?ychtnk#iefix') format('embedded-opentype'),
  url('../fonts/motus.ttf?ychtnk') format('truetype'),
  url('../fonts/motus.woff?ychtnk') format('woff'),
  url('../fonts/motus.svg?ychtnk#motus') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'motus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-timing:before {
  content: "\e912";
}
.icon-chainstrength:before {
  content: "\e913";
}
.icon-trends:before {
  content: "\e914";
}
.icon-ballrelease:before {
  content: "\e900";
}
.icon-bodysilo:before {
  content: "\e901";
}
.icon-bullpen:before {
  content: "\e902";
}
.icon-compare:before {
  content: "\e903";
}
.icon-download_data:before {
  content: "\e904";
}
.icon-eye:before {
  content: "\e905";
}
.icon-facesiloplayer:before {
  content: "\e906";
}
.icon-footcontact:before {
  content: "\e907";
}
.icon-game:before {
  content: "\e908";
}
.icon-graph:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e90a";
}
.icon-jointkinetics:before {
  content: "\e90b";
}
.icon-kinetic_chain:before {
  content: "\e90c";
}
.icon-login:before {
  content: "\e90d";
}
.icon-logout:before {
  content: "\e90e";
}
.icon-longtoss:before {
  content: "\e90f";
}
.icon-maxexcursion:before {
  content: "\e910";
}
.icon-rawdata:before {
  content: "\e911";
}

