#app {
  // Arial, Arial Black and Arial Narrow
  h1,h2,h3,h4,h5,h6 {
    font-family: Arial;
  }
  span, p, ul, li {
    font-family: Arial;
  }
  // angular-bootstrap added styles according to docs for accordion to work properly
  .nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
  }
}

svg {
  overflow: visible;
}
