#header {

    background-color: lightgrey;
  
    .profile-picture{
      height: 7em;
      width: 7em;
      border-radius: .5em;
      margin: .5em 1em;
    }

    .nav-link {
      display: inline-block;
      font-size: 1.2em;
      margin-top: 2.3em;
      margin-right: 3em;
      margin-bottom: 1.2em;
      cursor: pointer;
      color: @lightBlue
    }
    
    .nav-link:hover {
      color: red;
      text-decoration: none;
    }


    h1 {
      display: inline;
      margin: 0 1.2em;
      font-size: 1.7em;
    }

    /*==========  Mobile Options ==========*/

  /* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    h1 {
      font-size: 1.5em;
    }

  }

  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {

  }

  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
  
  }
}