#header {
  font-family:Arial;
  nav {
    background-color: white;
    height: 100px;

  }
  nav.nav-flex {
    display: flex;
    align-items: center;
  }
  .motus-svg-logo {

    min-width:280px;
    img {
      height: 65px;
      width: auto;
      margin-top: 1px;
      margin-left: 30px;
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    flex-grow:50;
    span {
      padding-left: 20px;
      padding-right:20px;
      font-size: 20px;
      line-height:30px;
      a {
        color: @motus-blue;
        text-decoration: none;
      }
      a:after {
        content: '';
        display: block;
        width: 100%;
        border: 1px solid @motus-lightorange;
        transform: translate(0px, 6px);
        opacity: 0;
        transition: transform .2s ease-out, opacity .2s ease-out;
      }
      a:hover {
        color: @motus-lightorange;
        transition: .2s ease-out;
      }
      a:hover:after {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }
  }
  .team-logo {

    img, .team-logo-svg {
      margin-top:2px;
      margin-right: 22px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
    }
    .team-logo-svg {
      width: 60px;
      height:60px;
      background-image: url('../images/nym-logo.svg');
      -webkit-background-size: 60px 60px;
      -webkit-background-size: 60px 60px;
      background-size: 60px 60px;;
    }
  }
  .login-name-account {
    font-size:21px;
    color: @motus-blue;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    a {
      color: @motus-blue;
      text-decoration: none;
    }
    a:after {
      content: '';
      display: block;
      width: 100%;
      margin-left:auto;
      border: 1px solid #e57222;
      transform: translate(0px, 6px);
      opacity: 0;
      transition: transform .2s ease-out, opacity .2s ease-out;
    }
    a:hover {
      color: #e57222;
      transition: .2s ease-out;
    }
    a:hover:after {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    .account-or-logout {
      display: flex;
      justify-content: space-between;
      span.icon-logout {
        position:relative;
        top: 0.1em;
        font-size:24px;
      }
    }

  }
  /*==========  Mobile Options ==========*/
  /* Large Devices, Wide Screens */
  @media (max-width : 1200px) {

  }

  /* Medium Devices, Desktops */
  @media (max-width : 1024px) {
    .login-name-account {
      span {
        font-size:18px !important;
      }
    }

  }

  /* Small Devices, Tablets */
  @media (max-width : 768px) {
    .nav-links span {
      padding-left: 0px;
      font-size: 14px;
    }
    .login-name-account span {
      font-size: 14px!important;
    }
    .motus-svg-logo {
      min-width: 252px;
    }
    
  }

  /* Extra Small Devices, Phones */
  @media (max-width : 480px) {

  }

  /* Custom, iPhone Retina */
  @media (max-width : 320px) {

  }
}
