#login {
  font-family: Arial;
  .motus-svg-logo {
    min-width:280px;
    img {
      height: 65px;
      width: auto;
      margin-top: 15px;
      margin-bottom:15px;
      margin-left: 30px;
    }
  }
  .player-box-shadow {
    box-shadow: 0 0 1em #555555;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    min-height: 80vh;
    .padding-box {
      padding: 8px 8px 8px 8px;
      display: flex;
      width: 100%;
      .colored-box {
        width:100%;
        background-color: #e9f5f1;
        display: flex;
        .login-box {
          display: flex;

        }
      }
    }
  }


}
