#player {

  /*****************************************************************
  **  GLOBAL #player settings                                      *
  *****************************************************************/
  .icon-chainstrength {
    font-size: .72em;
  }

  .icon-timing {
    font-size: .72em;
  }

  .icon-download_data {
    font-size: .80em;
  }

  .icon-back {
    cursor: pointer;
    color: @motus-blue;
    display: block;
    position: absolute;
    font-size: 1.7em;
    width: 1em;
    height: 1em;
    top: 5.9em;
    left: 14em;
  }

  font-family:Arial, sans-serif;

  h2 {
    color: @motus-blue;
    font-size: 2.571em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .player-box-shadow {
    box-shadow: 0 0 1em #555555;
    margin-left: 1.071em;
    margin-right: 1.071em;
    display: flex;
  }
  .padding-box {
    padding: 0.571em;
    display: flex;
    width: 100%;
    .ui-view-nested-width {
      width:100%;
    }
  }

  /******************************************************************
  **  TOOL TIPS                                                     *
  ******************************************************************/

  .tooltip.subNavicons .tooltip-inner {
    position: absolute;
    top: -.2em;
    left:-2em;
  }

  .tooltip.subNavicons .tooltip-arrow {
    position: absolute;
    top: 3.2em;
    left:0;
  }

  .tooltip.subNavProfile .tooltip-inner {
    position: absolute;
    top: -.6em;
    left:-2em;
  }
  .tooltip.subNavProfile .tooltip-arrow {
    position: absolute;
    top: 2.7em;
    left:0;
  }

  .tooltip.mainNavIcons .tooltip-inner {
    position: relative;
    top: .5em;
    right:2.5em;
    z-index: 10;
  }

  .tooltip.mainNavIcons .tooltip-arrow {
    position: relative;
    top: 1.9em;
    left:4.7em;
    z-index: 10;
  }

  .tooltip.ballRelease .tooltip-inner {
    position: relative;
    top: .5em;
    right:2.1em;
    z-index: 10;
  }

  .tooltip.ballRelease .tooltip-arrow {
    position: relative;
    top: 1.9em;
    left:4.7em;
    z-index: 10;
  }

  .tooltip.maxEx .tooltip-inner {
    position: relative;
    top: .5em;
    right:2.5em;
    z-index: 10;
  }

  .tooltip.maxEx .tooltip-arrow {
    position: relative;
    top: 1.9em;
    left:5.5em;
    z-index: 10;
  }

  .tooltip.jointKinetics .tooltip-inner {
    position: relative;
    top: .5em;
    right:2.7em;
    z-index: 10;
  }

  .tooltip.jointKinetics .tooltip-arrow {
    position: relative;
    top: 1.9em;
    left:4.67em;
    z-index: 10;
  }

  /*********************************************************
  **  ROSTER LIST                                          *
  *********************************************************/

  .icon-compare {
    cursor: pointer;
  }
  .comparison-active {
    color: @motus-lightorange;
  }


  .odd {
    background-color: #333736;
  }

  .scrollwarn {
    color: @motus-darkorange;
    text-align: center;
    position: relative;
    bottom: .5em;

    .icon-uparrow {
      font-size: 2em;
      position:relative;
      top: .31em;
    }
  }

  .roster-list {
    background-color: #2b2f2e;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    nav {
      display: inline;
    }
    h2 {
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      padding-left: 40px;
      padding-bottom: 32px;
      color: white;
      letter-spacing: 1px;
      font-size: 36px;
      span {
        line-height: 30px;
        padding-left: .45em;
        padding-right: 0.45em;
      }
    }
    span.icon-compare-add {
      display: inline-block;
      transition: all 0.3s ease;
      margin-left:2.567em;
      &:hover {
        color: @motus-lightorange;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }
      &:hover:after {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }
    span.compare-active {
      color: @motus-lightorange !important;
      -webkit-transform: rotate(90deg) !important;
      transform: rotate(90deg) !important;
    }
    ul {
      font-size:20px;
      font-weight:bold;
      line-height:14px;
      list-style: none;
      padding-left: 0;
      padding-bottom: 32px;
      width: 100%;
      color: #6c6d70;
      overflow: auto;
      max-height: 360px;
      li {
        cursor: pointer;
        padding-left: 40px;
        padding-top:11px;
        width: 100%;
        min-height: 71px;
        span {
          font-size: 30px;
        }
        span:nth-child(4) {
          font-size:27px;
        }
        span.green-icon {
          color: @motus-green;
        }
        span.gray-icon {
          color: @motus-btngrey!important;
        }
      }
      li.selected {
        color: @motus-blue;
        transition: all 0.2s ease-out;
        border-left: solid 4px @motus-lightorange;
        background-color: @motus-offwhite;
      }

      li:hover {
        color: #1680c3;
        transition: all 0.2s ease-out;
        border-left: solid 4px @motus-lightorange;
        background-color: @motus-offwhite;
        span {
          // color: #6c6d70;
        }


      }
    }
  }

  /*********************************************************
  **  Nested Views - player.'all-sub-states'               *
  *********************************************************/

  .player-details-outter {
    width: 100%;
    background-color: @motus-offwhite;
    display: flex;
    flex-direction: column;
    .player-details {
      background-color: @motus-offwhite;
      width: 100%;
      padding-left: 2.5em;
      display: flex;
      flex-direction: column;
      .player-details-header {
        display: flex;
        margin-bottom: 40px;
        h2 {
          flex: 1;
        }
        a {
          text-decoration: none;
          color: #2b2f2e;

        }
        a.active-overview-icon {
          color: @motus-blue;
        }
      }


      .player-details-stats {
        padding-bottom: 10em;
        padding-right: 2.7em;
        display: flex;
        .player-stats-box1 {
          display: flex;
          flex: 1;
          .player-key-stats {
            display: flex;
            flex-direction: column;
            text-transform: capitalize;
            justify-content: space-between;
            span {
              font-size: 20px;
            }
            h3 {
              margin-top: 0;
              font-size:20px;
              font-weight:bold;
            }
          }
        }

        .player-notes {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            margin-top: 0;
            font-weight: bold;
            font-size: 20px;
          }
          li {
            font-size:20px;
          }
        }
        .player-photo {
          display: inline-block;

          img {
            height: 160px;
            width: auto;
            border-radius: 100px;
            padding-right: 32px;
          }
        }
      }
    }

    .overview-header {
      display: flex;
      align-items: center;
      h2 {
        letter-spacing: 1px;
        padding-left: 36px;
      }

      > span {
        padding-left:8px;
      }
      span {
        cursor: pointer;
        font-size: 40px;
        padding-top:19px;
        color: #2b2f2e;
      }
      span.active-overview-icon {
        color: @motus-blue;
      }
    }
  }

  // Translucent sub-footer in home-overview.html
  .nested-view {
    width: 100%;
    display: flex;
    flex-direction:column;
    min-height: 508px;
    .nested-footer {
      width:100%;
      background: rgba(210, 210, 210, 0.4);;
      display: flex;
      align-items: center;
      position: absolute;
      bottom:0;
      left:0;
      min-height:40px;

      .nested-view .nested-footer .nested-footer-body-icon span.icon-stride {
        font-size: 25px!important;
      }

      .nested-view .nested-footer .nested-footer-body-icon>span {
        font-size: 26px!important;
      }


      .nested-view .nested-footer .nested-footer-body-icon>span {
        font-family:"Arial-Black", "Arial", sans-serif;
        padding-left: 1px;
        padding-right: 1px;
        font-size: 27px;
      }



      .nested-footer-body-icon {
        font-family:"Arial-Black", "Arial", sans-serif;
        color: white;
        display: flex;
        flex:1;
        margin-left:1.5em;
        > span {
          font-family:"Arial-Black", "Arial", sans-serif;
          padding-left: 1px;
          padding-right: 1px;
          font-size: 30px;
        }
        span.icon-hips {
          font-size:40px;
        }
        span.icon-stride {
          font-size:39px;
        }


        .part-nested-stack {
          font-family:"Arial-Black", "Arial", sans-serif;
          font-weight:bold;
          display: flex;
          flex-direction:column;
          .nested-hip-icon-padding {
            padding-top: 6px;
          }
          .nested-stride-icon-padding {
            padding-top: 4px;
          }
          .yellowfooter {
            color: @motus-tangerine;
          }
          .greenfooter {
            color: @motus-green;
          }
          .redfooter {
            color: @motus-red;                                      ;
          }
          span.icon-downarrow {
            font-size:26px;
            line-height:0.3;
            padding-right:1px;
          }
          span.icon-okarrow {
            font-size:26px;
            line-height:0.3;
          }

          span.icon-uparrow {
            font-size:26px;
            line-height:0.3;
          }
        }
      }
    } // END nested footer in home-overview.html


    // Pitcher silhouette in home-overview.html
    img {
      width: 100%;
    }
    .pitcher-silhouette {
      position: relative;

      piestats {
        &#elbow {
          top: 23%;
          left: 23.5%;
        }

        &#shoulder {
          top: 17%;
          left: 35%;
        }
        &#trunk {
          top: 28%;
          left: 46%;
        }
        &#hip {
          top: 46%;
          left: 43%;
        }
        &#foot {
          top: 84%;
          left: 63%;
        }
      }
    }
  }// END pitcher silhouette in home-overview.html

  // Icons in home.html, overview, graph, profile
  span.icon-profile {
    cursor:pointer;
    font-size: 1.9em!important;
  }


  .graph-context {
    padding-left: 3.6em;
  }


  // Side menu buttons
  .side-menu-buttons-nav {
    position: fixed;
    top: 1.66em;;
    right: .35em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 65px;
    margin-left: auto;
    width: 65px;
  }

  .side-menu-buttons {
    background-color: @charcoalgray;
    align-items: center;
    margin-left: auto;
    min-width: 65px;
    span {
      color: #737272;
      background-color: #2b2f2e;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
      width:65px;
      height:65px;
      font-size:49px;
      text-align: center;
      padding-top: 8px;
    }
    span.icon-trends {
      font-size:58px;
      padding-top: 3px;
    }

    span.side-button-active {
      color: white;
      background-color: #232323;
      moz-box-shadow:    inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow:         inset 0 0 10px #000000;
    }
    span:hover {
      cursor: pointer;
      transition: all 0.2s ease-out;
      color: white;
      background-color: #232323;
    }
  }


  /*==========  Mobile Options ==========*/
/* Large Devices, Wide Screens */
  @media (max-width: 1200px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.75) ;
    }
  }

  /* Medium Devices, Desktops */
  @media (max-width: 1024px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.75) ;
    }
    .ui-view-nested-width {
      max-height: 40.857em;
      overflow: scroll;
    }
    // Roster List
    .roster-list {
      min-width: 16.857em;
      span.icon-compare-add {
        margin-left: 2em;
      }
      h2 {
        font-size: 1.429em;
        padding-left:1em;
        span {
          font-size: 1.429em;
          line-height: 0.7em;
        }
      }
      ul li {
        padding-left: 1em;
      }
      ul li nav {
        display: inline;
      }
    }

    .nested-view .nested-footer .nested-footer-body-icon span.icon-stride {
      font-size: 32px;
    }

    .nested-view .nested-footer .nested-footer-body-icon>span {
      font-size: 31px;
    }

    // player portrait
    .player-details-stats {
      .player-stats-box1 {
        .player-photo {
          img {
            height:90px !important;
          }
        }
      }
    }
    // player-details h2
    .player-details-header {
      h2 {
        font-size: 30px;
      }
    }
    // player-details-stats
    .player-key-stats {
      h3 {
        font-size:18px !important;
      }
      span {
        font-size:18px !important;
      }
    }
    // player-notes
    .player-notes {
      li {
        font-size:18px !important;
      }
      div {
        h3 {
          font-size:18px !important;
        }
      }
    }
    // overview-header h2
    .overview-header {
      h2 {
        font-size: 30px !important;
      }
    }

  }

  /* Small Devices, Tablets */
  @media (max-width: 768px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.4);
    }
     .nested-view .pitcher-silhouette piestats:nth-child(5) {
      transform: translate(-50%, -50%) scale(.4);
    }

    .roster-list ul li span:nth-child(4) {
      font-size: 27px!important;
    }
    .roster-list {
      min-width: 230px;
    }

    .roster-list h2 span {
      padding-left: 12px;
    }

    .player-details-stats .player-stats-box1 .player-photo img {
      height: 50px!important;
    }

    .player-details-outter .player-details .player-details-stats .player-photo img {
      padding-right: 16px;
    }

    .player-key-stats h3, .player-key-stats span, .player-notes div h3, .player-notes li {
      font-size: 14px!important;
    }

    .nested-view .nested-footer {
      bottom: -41px;
    }

    body {
      font-size: 12px;
    }

    .nested-view .nested-footer .nested-footer-body-icon span.icon-hips {
      font-size: 15px!important;
    }

    .nested-view .nested-footer .nested-footer-body-icon>span {
      font-size: 15px!important;
    }

    .nested-view .nested-footer .nested-footer-body-icon span.icon-stride {
      font-size: 20px!important;
    }

    .nested-view .nested-footer .nested-footer-body-icon>span {
      font-family: "Arial-Black", sans-serif;
      padding-left: 1px;
      padding-right: 1px;
      font-size: 19px;
    }
    .nested-view .nested-footer .nested-footer-body-icon .part-nested-stack .nested-hip-icon-padding {
      padding-top: 0;
    }
  }

  /* Extra Small Devices, Phones */
  @media  (max-width: 480px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.3)
    }
  }

  /* Custom, iPhone Retina */
  @media  (max-width: 320px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.2) ;
    }
  }


}
