#player {
  font-family:Arial;
  // Wrapper div to give box shadow
  .player-box-shadow {
    box-shadow: 0 0 1em #555555;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
  }
  .padding-box {
    padding: 8px 8px 8px 8px;
    display: flex;
    width: 100%;
  }
  // Graph
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .area {
    fill: steelblue;
  }

  // Roster of Pitchers
  .roster-list {
    background-color: #2b2f2e;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    h2 {
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      padding-left: 40px;
      padding-bottom: 32px;
      color: #FFFFFF;
      letter-spacing: 1px;
      font-size: 36px;
      span {
        line-height: 30px;
        padding-left: 24px;
      }
    }
    ul {
      font-size:20px;
      font-weight:bold;
      line-height:14px;
      list-style: none;
      padding-left: 0;
      padding-bottom:32px;
      width: 100%;
      color: #6c6d70;
      li {
        padding-left: 40px;
        padding-top:11px;
        width: 100%;
        min-height: 71px;
        span {
          font-size: 30px;
        }
        span:nth-child(4) {
          font-size:27px;
        }
        span.green-icon {
          color: #127134;
        }

      }
      li.selected {
        color: #1680c3;
        transition: all 0.2s ease-out;
        border-left: solid 4px #e57222;
        background-color: #e9f5f1;
      }
      li:hover {
        color: #1680c3;
        transition: all 0.2s ease-out;
        border-left: solid 4px #e57222;
        background-color: #e9f5f1;
        span {
          color: #6c6d70;
        }
      }
    }
  }
  .player-details-outter {
    width: 100%;
    background-color: #e9f5f1;
    display: flex;
    flex-direction: column;
    .player-details {
      background-color: #e9f5f1;
      width: 100%;
      padding-left: 60px;
      display: flex;
      flex-direction: column;
      .player-details-header {
        display: flex;
        margin-bottom: 40px;
        h2 {
          flex: 1;
        }
      }
      h2 {
        color: #1680c3;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      .player-details-stats {
        display: flex;
        .player-stats-box1 {
          display: flex;
          flex: 1;
          .player-key-stats {
            display: flex;
            flex-direction: column;
            text-transform: capitalize;
            justify-content: space-between;
            span {
              font-size: 20px;
            }
            h3 {
              margin-top: 0;
              font-size:20px;
              font-weight:bold;
            }
          }
        }
        .player-notes {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            margin-top: 0;
            font-weight: bold;
            font-size: 20px;
          }
          li {
            font-size:20px;
          }
        }
        .player-photo {
          display: inline-block;

          img {
            height: 160px;
            width: auto;
            border-radius: 100px;
            padding-right: 32px;
          }
        }
      }
    }//.player-details
    .overview-header {
      display: flex;
      align-items: center;
      margin-top: 40px;
      h2 {
        font-size: 36px;
        letter-spacing: 1px;
      }
      > span {
        padding-left:8px;
      }
      span {
        font-size: 40px;
        padding-top:19px;
        color: #2b2f2e;
      }
      span.active {
        color: #095bac;
      }
    }
  }// player-details-outter
  .nested-view {
    width: 100%;
    display: flex;
    flex-direction:column;
    .nested-footer {
      width:100%;
      display: flex;
      align-items: center;
      position: absolute;
      bottom:0;
      left:0;
      min-height:40px;
      background-image: url('../images/transparent-square.png');
      .nested-footer-body-icon {
        font-family:"Arial Black";
        color: black;
        display: flex;
        flex:1;
        margin-left:1.5em;
        > span {
          font-family:"Arial Black";
          padding-left: 1px;
          padding-right: 1px;
          font-size: 35px;
        }
        span.icon-hips {
          font-size:45px;
        }
        span.icon-stride {
          font-size:35px;
        }
        .part-nested-stack {
          font-family:"Arial Black";
          font-weight:bold;
          display: flex;
          flex-direction:column;
          .nested-hip-icon-padding {
            padding-top: 6px;
          }
          .yellow-footer {
            color: #ffe966;
          }
          .green-footer {
            color: #00a339;
          }
          .red-footer {
            color: #e35746                                      ;
          }
          span.icon-downarrow {
            font-size:26px;
            line-height:0.3;
            padding-right:1px;
          }
          span.icon-okarrow {
            font-size:26px;
            line-height:0.3;
          }
        }
      }
    }
    img {
      width: 100%;
    }
    .pitcher-silhouette {
      position: relative;



      piestats {
        z-index: 2;
        transition: all 0.2s ease;
        position: absolute;
        transform: translate(-50%, -50%);

        svg {
          transform-origin: center;
          transition: all 0.2s ease;

          &:hover {
            opacity: .9;
            transform: scale(1.2);
          }

        }

        &#arm {
          top: 23%;
          left: 23.5%;
        }

        &#throwShoulder {
          top: 17%;
          left: 35%;
        }
        &#otherShoulder {
          top: 28%;
          left: 45%;
        }
        &#hip {
          top: 46%;
          left: 43%;
        }
        &#foot {
          top: 84%;
          left: 63%;
        }
      }
    }
  }

  .side-menu-buttons-nav{
    position: fixed;
    top: 1.66em;;
    right: .35em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 65px;
    margin-left: auto;
    width: 65px;
  }

  .side-menu-buttons {
    background-color: #d2d2d2;
    align-items: center;
    margin-left: auto;
    min-width: 65px;
    span {
      color: #737272;
      background-color: #2b2f2e;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
      width:65px;
      height:65px;
      font-size:49px;
      text-align: center;
      padding-top: 8px;
    }
    span.icon-trends {
      font-size:58px;
      padding-top: 3px;
    }
    span.side-button-active {
      color: #ffffff;
      background-color: #232323;
      moz-box-shadow:    inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow:         inset 0 0 10px #000000;
    }
    span:hover {
      transition: all 0.2s ease-out;
      color: #ffffff;
      background-color: #232323;
    }
  }


  /*==========  Mobile Options ==========*/
/* Large Devices, Wide Screens */
  @media (max-width: 1200px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.9) ;
    }
  }

  /* Medium Devices, Desktops */
  @media (max-width: 1024px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.75) ;
    }
    // Roster List
    .roster-list {
      h2 {
        font-size: 30px !important;
      }
    }
    // player portrait
    .player-details-stats {
      .player-stats-box1 {
        .player-photo {
          img {
            height:90px !important;
          }
        }
      }
    }
    // player-details h2
    .player-details-header {
      h2 {
        font-size: 30px !important;
      }
    }
    // player-details-stats
    .player-key-stats {
      h3 {
        font-size:18px !important;
      }
      span {
        font-size:18px !important;
      }
    }
    // player-notes
    .player-notes {
      li {
        font-size:18px !important;
      }
      div {
        h3 {
          font-size:18px !important;
        }
      }
    }
    // overview-header h2
    .overview-header {
      h2 {
        font-size: 30px !important;
      }
    }
  }
  /* Medium Devices, Desktops */
  @media (max-width: 1024px) {

    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.6);
    }
    .nested-view .pitcher-silhouette piestats:nth-child(5) {
      transform: translate(-50%, -50%) scale(.5);
    }
  }
  /* Small Devices, Tablets */
  @media (max-width: 768px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.4);
    }
     .nested-view .pitcher-silhouette piestats:nth-child(5) {
      transform: translate(-50%, -50%) scale(.3);
    }

    .roster-list {
      min-width: 230px;
    }

    .roster-list h2 span {
      padding-left: 12px;
    }

    .player-details-stats .player-stats-box1 .player-photo img {
      height: 50px!important;
    }

    .player-details-outter .player-details .player-details-stats .player-photo img {
      padding-right: 16px;
    }

    .player-key-stats h3, .player-key-stats span, .player-notes div h3, .player-notes li {
      font-size: 14px!important;
    }

  }

  /* Extra Small Devices, Phones */
  @media  (max-width: 480px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.3)
    }
  }

  /* Custom, iPhone Retina */
  @media  (max-width: 320px) {
    .nested-view .pitcher-silhouette piestats {
      transform: translate(-50%, -50%) scale(.2) ;
    }
  }


}
