<section id="comparison">
  <div class="flex-container-col">

    <div class="flex-container flex-justify-content-center">
      <h2>Player Comparison</h2>
    </div>

    <nav class="flex-container flex-justify-content-space-around">
      <a>Overview</a>
      <a>Visual</a>
      <a>Stats</a>
    </nav>

    <div class="flex-container flex-justify-content-space-around">

      <div class="dev-border flex-container-col">
        <img src="http://placehold.it/120x120" alt="">
        <h4>{{pc.currentPlayer.athleteProfile.firstName}} {{pc.currentPlayer.athleteProfile.lastName}}</h4>
      </div>

      <div class="dev-border">
        <img src="http://placehold.it/120x120" alt="">
        <h4>{{pc.currentPlayer.athleteProfile.firstName}} {{pc.currentPlayer.athleteProfile.lastName}}</h4>
      </div>

    </div>

  </div>
</section>
