<section id="comparison">
  <div class="flex-container-col">

    <div class="flex-container flex-justify-content-center">
      <h2>Player Comparison</h2>
    </div>

    <nav class="flex-container flex-justify-content-center comparison-nav">
      <a ui-sref-active="active" ui-sref="player.comparison.overview">Overview</a>
      <a ui-sref-active="active" ui-sref="player.comparison.visual">Visual</a>
      <a ui-sref-active="active" ui-sref="player.comparison.stats">Stats</a>
    </nav>

    <div class="flex-container flex-justify-content-space-around">

      <!-- Selected Player -->
      <div ng-if="pc.state.includes('player.comparison.overview')" ui-view="overviewOne" id="playerComparisonOne" class="dev-border flex-comparison-col white-bg">
      </div>
      <div ng-if="pc.state.includes('player.comparison.visual')" ui-view="visualOne" class="dev-border flex-comparison-col white-bg">
      </div>
      <div ng-if="pc.state.includes('player.comparison.stats')" ui-view="statsOne"  class="dev-border flex-comparison-col white-bg">
      </div>




      <!-- Compared Player  -->
      <div ng-if="pc.state.includes('player.comparison.overview') && pc.comparedPlayer.athleteProfile.firstName" ui-view="overviewTwo" id="playerComparisonTwo" class="dev-border white-bg flex-comparison-col">
      </div>
      <div ng-if="pc.state.includes('player.comparison.visual') && pc.comparedPlayer.athleteProfile.firstName" ui-view="visualTwo" class="dev-border white-bg flex-comparison-col">
      </div>
      <div ng-if="pc.state.includes('player.comparison.stats') && pc.comparedPlayer.athleteProfile.firstName" ui-view="statsTwo" class="dev-border white-bg flex-comparison-col">
      </div>


      <div ng-if="!pc.comparedPlayer.athleteProfile.firstName" ui-view="addPlayer" id="addComparison" class="dev-border white-bg flex-comparison-col"></div>


    </div>

  </div>
</section>
